<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <!-- Add your CSS and Bootstrap links here -->
</head>

<body>

    <div class="container">
        <h2>Signup</h2>
        <!-- Display success messages if any -->
        {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        <!-- Form for user signup -->
        <form method="POST">
            {% csrf_token %}
            <!-- Input fields for username, email, password, and confirm password -->
            <input type="text" name="username" placeholder="Username" required>
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Password" required>
            <input type="password" name="cpassword" placeholder="cpassword" required>
            <!-- Button to submit the form -->
            <button type="submit">Submit</button>
        </form>
    </div>

</body>

</html>
